#!/bin/bash

# Set the directory containing the JavaScript files (relative to the Git repository root)
JS_DIR="$(git rev-parse --show-toplevel)"

# Path to the encrypter script
ENCRYPTER_SCRIPT="$JS_DIR/encrypter.py"

# Directory to store encrypted files
ENCRYPTED_DIR="$JS_DIR/encrypted"

# Ensure the encrypted directory exists
mkdir -p "$ENCRYPTED_DIR"

# Find updated JavaScript files in the last commit
UPDATED_JS_FILES=$(git diff-tree --no-commit-id --name-only -r HEAD | grep '\.js$')

# Encrypt each updated JavaScript file
for FILE in $UPDATED_JS_FILES; do
    INPUT_FILE="$JS_DIR/$FILE"
    OUTPUT_FILE="$ENCRYPTED_DIR/$(basename "$FILE").encrypted"
    python3 "$ENCRYPTER_SCRIPT" "$INPUT_FILE" "$OUTPUT_FILE" "48gdk3ifb7ojfn4fu3nd"
    
    # Add the encrypted file to the commit
    git add "$OUTPUT_FILE"
done